---
layout: marketing-template/default
---

{% if page.hero %}
{% include marketing-template/sections/hero.html %}   
{% endif %}

{% if page.problems %}
{% include marketing-template/sections/problems.html %}
{% endif %}

{% if page.solution %}
{% include marketing-template/sections/solution.html %}
{% endif %}

{% if page.features %}
{% include marketing-template/sections/features.html %}
{% endif %}

{% if page.branded_content %}
{% include marketing-template/sections/branded-content.html %}
{% endif %}

{% if page.enterprise %}
{% include marketing-template/sections/enterprise.html %}
{% endif %}

{% if page.cta %}
{% include marketing-template/sections/cta.html %}
{% endif %} 