---
layout: marketing-template/default
---

{% if page.hero %}
{% include marketing-template/sections/hero.html %}   
{% endif %}

{% if page.problems %}
{% include marketing-template/sections/problems.html %}
{% endif %}

{% if page.how_it_works %}
{% include marketing-template/sections/how-it-works.html %}   
{% endif %}

{% if page.tech_compatibility %}
{% include marketing-template/sections/tech-compatibility.html %}
{% endif %}

{% if page.solution %}
{% include marketing-template/sections/solution.html %}
{% endif %}

{% if page.features %}
{% include marketing-feature/sections/features.html %}
{% endif %}

{% if page.use_cases %}
{% include marketing-template/sections/use-cases.html %}
{% endif %}

{% if page.pricing %}
{% include marketing-template/sections/pricing.html %}
{% endif %}

{% if page.onboarding %}
{% include marketing-template/sections/onboarding.html %}
{% endif %}

{% if page.self_service %}
{% include marketing-template/sections/self-service.html %}
{% endif %}

{% if page.faq %}
{% include marketing-template/sections/faq.html %}
{% endif %}

{% if page.enterprise %}
{% include marketing-template/sections/enterprise.html %}
{% endif %}

{% if page.branded_content %}
{% include marketing-template/sections/branded-content.html %}
{% endif %}

{% if page.roi %}
{% include marketing-template/sections/roi.html %}
{% endif %}

{% if page.cta %}
{% include marketing-template/sections/cta.html %}
{% endif %}

{% if page.trusted %}
{% include marketing-template/sections/trusted.html %}
{% endif %} 